@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* global */

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    /* CSS Smooth Scroll */
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.sub-container {
    padding: 5rem 6rem;
    max-width: 1000px;
}

@media screen and (max-width: 768px) { 
    .sub-container {
    padding: 5rem 6rem;
    max-width: 768px;
    }
}

@media screen and (max-width: 500px) { 
    .sub-container {
    padding: 2rem 1rem;
    max-width: 500px;
    }
}
.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 70px;
    background: rgba(0, 0, 0, 0.7);
    animation: fadeIn 1s;
    animation-delay: 3s;
    animation-fill-mode: backwards;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
}

.navbar ul li a:hover {
    color: skyblue;
}

section {
    width: 100%;
}


/* Animations */ 
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(150%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
/* Home Section  */

section#home {
    height: 100vh;
    background: url(img/guitar2darkcropped2.jpg) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
section#home h1 {
    color: white;
    font-size: 4rem;
    animation: slideInFromLeft 1s ease-in-out;
    animation-fill-mode: backwards;
}

section#home h2 {
    color: white;
    font-size: 1.5rem;
    font-weight: normal;
    width: 60%;
    animation: slideInFromRight 1s ease-in-out;
    animation-delay: .5s;
    animation-fill-mode: backwards;
}
section#home p {
    color: white;
    font-size: 1.5rem;
    animation: fadeIn 1s;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
}

section#home .CTA {
   position: absolute;
   left: 0;
   right: 0;
   bottom: 20%;
   animation: fadeIn 1s;
   animation-delay: 2s;
   animation-fill-mode: backwards;
}

section#home .CTA p {
    margin-bottom: 2rem;
}
section#home .CTA .button  {
    padding: 10px 30px;
    background-color: #2d5986;;
    border: none;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.9);
    cursor: pointer;
    transition: .25s;
}

section#home .CTA .button:hover{
    padding: 9px 28px;
    transition: .25s;
    /* font-weight: 400; */
}

@media screen and (max-width: 768px) {
    section#home {
        background: url(img/guitar2darkcropped2.jpg) no-repeat left center/cover;
    }
    section#home h1 {
        font-size: 6rem;
    }
    
    section#home h2 {
        font-size: 2.5rem;
        font-weight: normal;
        width: 60%;
    }
    section#home p {
        color: white;
        font-size: 2rem;
    }
}

@media screen and (max-width: 500px) {
    section#home {
        background: url(img/guitar2darkcropped2.jpg) no-repeat left center/cover;
        justify-content: flex-start;
    }
    section#home h1 {
        font-size: 3.5rem;
        margin-top: 11rem;
        margin-bottom: 2rem;
    }
    
    section#home h2 {
        font-size: 1.5rem;
        font-weight: bold;
        width: 60%;
    }
    section#home p {
        color: white;
        font-size: 1.5rem;
    }
    section#home .CTA {
        bottom: 15%;
    }
}
/* Lessons Section */

section#lessons {
    background-color: #2d5986;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

section#lessons h1 {
    color: white;e
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}

section#lessons h2, p {
    margin-top: 0;
}

section#lessons h2 {
    font-size: 2rem;
    padding-bottom: 1rem;
    color: white;
}

section#lessons p {
    color: RGBA(255,255,255,0.69);
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

section#lessons .subtitle p {
    text-align: center;
    font-size: 2rem;
}
.box-1 {
    display: flex;
    justify-content: center;
    width: 1000px;
    margin: 6rem 0;
}

.box-1 .text {
    flex-basis: 80%;
    align-self: center;
}

.box-1 .lessons-image {
    width: 100%;
}
.box-1 .lessons-image img {
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.box-2 {
    display: flex;
    width: 1000px;
    margin: 6rem 0;
}

.box-2 .text {
    margin-right: 4rem;
    flex-basis: 80%;
    align-self: center;
}

.box-2 .text p {
    text-align: right;
}

.box-2 .text h2 {
    text-align: right;
    color: white;
}
.box-2 .lessons-image {
    width: 100%;
}

.box-2 .lessons-image img {
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) { 
    section#lessons {
        background-color: #2d5986;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
    section#lessons h1 {
        font-size: 3.5rem;
        margin-top: 2rem;
    }
    .box-1 {
        align-items: center;
        width: 768px;
        margin: 2rem 2rem;
    }
    .box-1 .text {
        flex-basis: 100%;
        padding-right: 4rem;
    }
    .box-1 .lessons-image {
        width: 100%;
    }
    .box-1 .lessons-image img {
        border-radius: 10px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
        width: 90%;
    }
    .box-2 {
        align-items: center;
        width: 768px;
        margin: 2rem 2rem;
    }
    .box-2 .text {
        flex-basis: 100%;
        padding-right: 0rem;
    }
    .box-2 .lessons-image {
        width: 100%;
        padding-right: 4rem;
    }
    
    .box-2 .lessons-image img {
        width: 100%;
    }
}

@media screen and (max-width: 500px) { 
    section#lessons h1 {
        font-size: 2.25rem;
        padding-top: 3rem;
    }
    section#lessons h2 {
        font-size: 2rem;
        padding-bottom: 1rem;
        text-align: center;
    }
    section#lessons p {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    section#lessons .subtitle p {
        text-align: center;
        font-size: 1.5rem;
        padding: 0;
        margin-bottom: 2rem;
    }
    .box-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 2rem 0;
    }
    .box-1 .text {
        flex-basis: none;
        align-self: center;
        padding: 0;
    }
    .box-1 .text p {
        text-align: center;
    }
    .box-1 .lessons-image {
        margin-bottom: 2rem;
    }
    .box-1 .lessons-image img {
        width: 100%;
    }
    .box-2 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
        margin: 2rem 0;
    }
    .box-2 .text {
        flex-basis: none;
        padding-right: 0;
        margin-right: 0;
    }
    .box-2 .text p {
        text-align: center;
    }
    .box-2 .text h2 {
        text-align: center;
    }
    .box-2 .lessons-image {
        width: 100%;
        padding-right: 0;
        margin-bottom: 2rem;
    }
}
/* About section */

section#about {
    background-color: #eae5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

section#about h1 {
    color: #3c3c3b;
    text-align: center;
    font-size: 3rem;
    margin: 2rem 0;
}

section#about p {
    color: #3c3c3b;
    font-size: 1.25rem;
}
.about-box {
    display: flex;
    width: 900px;
}

.about-box .heropic {
    padding-right: 2rem;
}

.about-box .heropic img {
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.about-box .herotext {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section#about::before,
section#about::after {
    content: '';
    position: absolute;
    height: 100px;
    top: -30px;
    right: 0;
    left: 0;
    background: #eae5e5;
    transform: skewY(3deg);
    -webkit-transform: skewY(3deg);
    -moz-transform: skewY(3deg);
    -ms-transform: skewY(3deg);
}

@media screen and (max-width: 768px) {
    section#about {
        justify-content: flex-start;
        margin-bottom: 0;
        position: relative;
    }
    
    section#about h1 {
        color: #3c3c3b;
        text-align: center;
        font-size: 3rem;
        margin: 1rem 0 3 rem 0;
    }
    
    section#about p {
        padding: 0 8rem;
        color: #3c3c3b;
        font-size: 1.25rem;
        text-align: center;
    }
    .about-box {
        flex-direction: column;
        width: 768px;
    }
    
    .about-box .heropic {
        padding-right: 0;
        margin-bottom: 2rem;
        align-self: center;
    }
}    

@media screen and (max-width: 500px) {   
    section#about h1 {
        font-size: 3rem;
        padding-top: 2rem;
    }
    .about-box {
        display: flex;
        width: auto;
        margin-bottom: 2rem;
    }
    section#about p {
        font-size: 1.25rem;
        padding: 0 1rem;
        letter-spacing: 1.25px;
    }
    .about-box .heropic {
        padding-right: 0rem;
    }
    .about-box .heropic img {
        width: 100%;
    }
}    

/* Testimonial section */

section#testimonials {
    background-color: #2d5986;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
}

section#testimonials h1 {
    text-align: center;
    font-size: 3rem;
    color: white;
    padding: 2rem 0 5rem 0;
}

section#testimonials q {
    quotes: "“" "”" "‘" "’";
    color: RGBA(255,255,255,0.69);
    font-style: italic;
    font-size: 1.15rem;
    text-align: center;
    margin: 1rem 0;
    padding: 0 4rem;
    transition: .5s;
}

section#testimonials p {
    color: RGBA(255,255,255,0.69);
    text-align: center;
    font-size: 1.5rem;
}

section#testimonials .row {
    display: flex;
    margin-bottom: 1rem;
}

section#testimonials .row span {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

section#testimonials .quote1 {
    height: 300px;
    width: 600px;
    margin-right: 1rem;
    background-image: url(img/parents/1.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


section#testimonials .quote2 {
    height: 300px;
    width: 383px;
    background-image: url(img/parents/2.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

section#testimonials .quote3 {
    height: 300px;
    width: 383px;
    margin-right: 1rem;
    background-image: url(img/parents/3.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

section#testimonials .quote4 {
    height: 300px;
    width: 600px;
    background-image: url(img/parents/4.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

section#testimonials .quote1:hover,
section#testimonials .quote2:hover,
section#testimonials .quote3:hover,
section#testimonials .quote4:hover {
    cursor: pointer;
}

section#testimonials .quote1:hover q,
section#testimonials .quote2:hover q,
section#testimonials .quote3:hover q,
section#testimonials .quote4:hover q {
    transform: scale(1.02);
    color: white;
    transition: .5s;
}

@media screen and (max-width: 768px) {
    section#testimonials {
        padding: 0 5rem 0rem 1rem;
    }
    section#testimonials q {
        font-size: 1rem;
        padding: 0rem 2rem;
        color: white;
    }
    section#testimonials p {
        font-size: 1.25rem;
    }
    section#testimonials .quote1 {
        height: 350px;
    }
    section#testimonials .quote2 {
        height: 350px;
        margin-right: 2rem;
    }
    section#testimonials .quote3 {
        height: 350px;
    }
    section#testimonials .quote4 {
        margin-right: 2rem;
        height: 350px;
    }
    section#testimonials .row:last-child {
        display: flex;
        margin-bottom: 4rem;
    }
}

@media screen and (max-width: 500px) {
    section#testimonials {
        background-color: #2d5986;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0rem;
    }
    
    section#testimonials h1 {
        text-align: center;
        font-size: 2rem;
        color: white;
        padding: 0;
        margin: 3rem 0;
    }
    
    section#testimonials q {
        quotes: "“" "”" "‘" "’";
        color: RGBA(255,255,255,0.69);
        color: white;
        font-style: italic;
        font-size: 1.15rem;
        text-align: center;
        margin: 1rem 0;
        padding: 0 0;
        transition: .5s;
    }
    
    section#testimonials p {
        color: RGBA(255,255,255,0.69);
        text-align: center;
        font-size: 1.5rem;
    }
    
    section#testimonials .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }
    
    section#testimonials .row span {
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
    }
    
    section#testimonials .quote1 {
        height: 500px;
        width: 100%;
        margin-right: 0rem;
        margin-bottom: 1rem;
        background-image: url(img/parents/1.jpg);
        background-position: center;
        background-size: cover;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow:hidden;
    }
    
    
    section#testimonials .quote2 {
        height: 300px;
        width: 100%;
        background-image: url(img/parents/2.jpg);
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }
    
    section#testimonials .quote3 {
        height: 300px;
        width: 100%;
        margin-right: 0rem;
        background-image: url(img/parents/3.jpg);
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }
    
    section#testimonials .quote4 {
        height: 300px;
        width: 600px;
        background-image: url(img/parents/4.jpg);
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }
}
/* contact section */

section#contact {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(img/contact.jpg);
    background-size: cover;
    background-position: center;
}

section#contact h1 {
    color: white; 
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
}

section#contact h2 { 
   color: white;
   font-size: 1.5rem;
   font-weight: normal;
}

section#contact .contactbox {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 2rem 0 1rem;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5) ;
}

section#contact .contact-info {
    flex-basis: 50%;
    padding: 1rem;
}

section#contact .contact-info i {
    padding: 0 1rem;
    color: white;
}

section#contact .contact-info p {
    font-family: 'Lato', sans-serif;
    color: white;
}
section#contact .contact-info .phone, .email {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
section#contact .contact-message {
    padding: 1rem;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section#contact .contact-message form {
    display: flex;
    flex-direction: column;
}

section#contact .contact-message .inputbox {
    margin-bottom: 1rem;
}
section#contact .contact-message .inputbox p {
    color: white;
}

section#contact .contact-message input, textarea {
    font-size: 1rem;
    width: 100%;
    padding: .5em;
    margin: .25em 0;
    border: none;
    border-radius: 5px;
    outline: none;
    resize: none;
}

section#contact .contact-message textarea {
    margin-top: 1rem;
    overflow: visible;
    font-family: inherit;
    font-size: 1rem;
}

section#contact .contact-message input:focus {
    box-shadow: 0px 0px 16px #1DA1F2;
    transition: .25s;
} 

section#contact .contact-message textarea:focus {
    box-shadow: 0px 0px 16px #1DA1F2;
    transition: .25s;
} 

section#contact .contact-message input[type="submit"] {
    width: 100px;
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    /* padding: 10px 15px; */
    font-family: inherit;
    font-size: inherit;
    transition: .5s;
}

section#contact .contact-message input[type="submit"]:hover {
    background: white;
    color: black;
    transition: .5s;
}

.footer {
    display: flex;
    justify-content: center;
}

.footer p {
    position: absolute;
    bottom: 10px;
    color: white;
    padding: .5rem 3rem;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
    section#contact .sub-container {
        padding: 0 2rem;
    }
    .footer p {
        bottom: 150px;
    }
}