@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=roboto:wght@300;400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
}

/* global */

body {
    line-height: 1.6;
    height: 100vh;
    overflow: hidden;
}

h1, h2, h3 {
    font-family: 'lato', sans-serif;
}

p, a {
    font-family: 'roboto', sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 100%;
    height: 100%;
    /* CSS Smooth Scroll */
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 3.5rem;
    background: rgba(0, 0, 0, 0.7);
    animation: fadeIn 1s;
    animation-delay: 3s;
    animation-fill-mode: backwards;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
}

.navbar ul li a:hover {
    color: skyblue;
}

/* Animations */ 
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-150%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(150%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* Home Section  */

section#home {
    height: 100vh;
    background: url(img/guitar2darkcropped2.jpg) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
section#home h1 {
    color: white;
    font-size: 4rem;
    font-weight: 400;
    animation: slideInFromLeft 1s ease-in-out;
    animation-fill-mode: backwards;
}

section#home h1 span {
    font-weight: 100;
}

section#home h2 {
    color: white;
    font-size: 2rem;
    font-weight: normal;
    width: 60%;
    animation: slideInFromRight 1s ease-in-out;
    animation-delay: .5s;
    animation-fill-mode: backwards;
}
section#home p {
    color: white;
    font-size: 1.5rem;
    animation: fadeIn 1s;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
}

section#home .CTA {
   margin-top: 3rem; 
   animation: fadeIn 1s;
   animation-delay: 2s;
   animation-fill-mode: backwards;
}

section#home .CTA p {
    margin-bottom: 2rem;
}
section#home .CTA .button  {
    padding: 8px 25px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 38.5pt;
    font-size: 1.2rem;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.9);
    cursor: pointer;
    transition: .25s;
   
}

section#home .CTA .button:hover{
    transition: .25s;
    background-color: white;
    color: #19797E;
}

@media all and (max-width: 750px) {
    section#home {
        background: url(img/guitar2darkcropped2.jpg) no-repeat center left/cover; 
    }
    section#home h1 {
        color: white;
        font-size: 3rem;
        font-weight: 400;
        margin: 4rem 0;
    }
    section#home h1 span {
        font-weight: 300;
    }
    section#home h2 {
        color: white;
        font-size: 2rem;
        font-weight: normal;
        width: 80%;
        animation: slideInFromRight 1s ease-in-out;
        animation-delay: .5s;
        animation-fill-mode: backwards;
    }
}  
/* Lessons Section */

section#lessons {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 4rem 6rem;
    max-width: 1200px;
    margin: auto;
}

section#lessons h1 {
    color: #19797E;
    font-size: 3rem;
    text-align: center;
    margin: 2rem 0;
}

section#lessons .subtitle p {
    text-align: center;
    font-size: 1.5rem;
    padding: 0 8rem;
    margin-bottom: 3rem;
}

section#lessons h2 {
    font-size: 2rem;
    padding-bottom: 1rem;
    color: #423f3f
}

section#lessons p {
    color: #423f3f;
    font-size: 1.25rem;
}

.box-1 {
    display: flex;
    justify-content: center;
    padding: 0 2rem;
    margin-bottom: 2rem;
}

.box-1 .lessons-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-1 .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.box-1 .lessons-image img {
    border-radius: 38.5pt;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.box-1  > * {
    flex-basis: 100%;
}

.box-1 > * + * {
    margin-left: 2rem;
}

.box-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.box-2 .lessons-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-2 .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.box-2 .lessons-image img {
    border-radius: 38.5pt;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.box-2  > * {
    flex-basis: 100%;
}

.box-2 > * + * {
    margin-left: 2rem;
}
@media all and (max-width: 1000px) {
    section#lessons { 
        padding: 4rem 2rem;  
    }
    section#lessons .subtitle p {
        padding: 0 0rem;
        margin-bottom: 3rem;
    } 
}

@media all and (max-width: 750px) {
    section#lessons { 
        padding: 4rem 1rem;  
    }
    section#lessons h1 {
        font-size: 2.5rem;
        margin: 1.5rem 0;
        letter-spacing: .5px;
    }
    section#lessons .subtitle p {
    text-align: justify;
    text-align-last: center;
    letter-spacing: .5px;
    font-size: 1.25rem;
    margin-bottom: 2rem;
}
    section#lessons h2 {
        font-size: 1.75rem;
        letter-spacing: .5px;
        text-align: center;
    }
    section#lessons p {
        letter-spacing: .5px;
        text-align: justify;
        text-align-last: center;
    }
    .box-1 {
        flex-direction: column-reverse;
        padding: 0 0rem;
    }
    .box-1 .lessons-image {
        margin-bottom: 1rem;
    }
    .box-1 .text {
        text-align: justify;
        text-align-last: center;
        margin-bottom: 2rem;
    }
    .box-1 > * + * {
        margin-left: 0rem;
    }
    .box-2 {
        flex-direction: column;
        padding: 0 0rem;
    }
    .box-2 .lessons-image {
        margin-bottom: 2rem;
    }
    .box-2 .text {
        display: flex;
        flex-direction: column;
        text-align: justify;
        text-align-last: center;
        margin-bottom: 2rem;
    }
    .box-2 > * + * {
        margin-left: 0rem;
    }
}

/* About section */

section#about {
    background: rgb(229, 229, 229);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 5rem;
}

section#about .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    position: relative;
    width: 100%;
}   

section#about .hero .heropic img {
    width: 100%;
}

section#about .hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 40%;
    font-weight: 200;
    letter-spacing: 6px;
    border: 1px solid white;
    text-align: center;
    padding: .5rem 0;
    text-transform: uppercase;
}

section#about .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

section#about .row .box {
    padding: 1rem 2rem;
    text-align: center;
}
/* Testimonial section */

section#testimonials {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#testimonials h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    margin: 4rem 0 2rem 0;
    color: #19797E;
}

section#testimonials .quotebox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

section#testimonials .quote1 {
    height: 500px;
    width: 45%;
    margin-bottom: 2rem;
    margin-right: 2rem;
    background-image: url(img/parents/christian.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

section#testimonials .quote2 {
    height: 500px;
    width: 45%;
    margin-bottom: 2rem;
    background-image: url(img/parents/paul.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

section#testimonials .quote3 {
    height: 500px;
    width: 45%;
    margin-bottom: 2rem;
    margin-right: 2rem;
    background-image: url(img/parents/3.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

section#testimonials .quote4 {
    height: 500px;
    width: 45%;
    margin-bottom: 2rem;
    background-image: url(img/parents/4.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

section#testimonials q {
    quotes: "“" "”" "‘" "’";
    color: white;
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem 0;
    padding: 0 4rem;
    transition: .5s;
}

section#testimonials p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

section#testimonials span {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}
section#testimonials .quote1:hover,
section#testimonials .quote2:hover,
section#testimonials .quote3:hover,
section#testimonials .quote4:hover {
    cursor: pointer;
}

section#testimonials .quote1:hover q,
section#testimonials .quote2:hover q,
section#testimonials .quote3:hover q,
section#testimonials .quote4:hover q {
    transform: scale(1.05);
    transition: .5s;
}

/* contact section */

section#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(img/guitar2darkcropped2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 0rem 6rem;
}

section#contact h1 {
    color: white; 
    text-align: left;
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

section#contact h2 { 
   color: white;
   font-size: 1.5rem;
   font-weight: normal;
}

section#contact .contactbox {
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
    max-width: 1000px;
}

section#contact .contact-info {
    width: 40%;
    padding: 1rem;
}

section#contact .contact-info i {
    padding: 0 1rem;
    color: white;
}

section#contact .contact-info p {
    font-family: 'Lato', sans-serif;
    color: white;
}
section#contact .contact-info .phone, .email {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
section#contact .contact-message {
    padding: 1rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section#contact .contact-message form {
    display: flex;
    flex-direction: column;
}

section#contact .contact-message .inputbox {
    margin-bottom: 1rem;
}
section#contact .contact-message .inputbox p {
    color: white;
}

section#contact .contact-message input, textarea {
    font-size: 1rem;
    width: 100%;
    padding: .5em;
    margin: .25em 0;
    border: none;
    border-radius: 5px;
    outline: none;
    resize: none;
}

section#contact .contact-message textarea {
    margin-top: 1rem;
    overflow: visible;
    font-family: inherit;
    font-size: 1rem;
}

section#contact .contact-message input:focus {
    box-shadow: 0px 0px 16px #19797E;;
    transition: .25s;
} 

section#contact .contact-message textarea:focus {
    box-shadow: 0px 0px 16px #19797E;;
    transition: .25s;
} 

section#contact .contact-message input[type="submit"] {
    width: 100px;
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 38.5pt;
    cursor: pointer;
    font-family: 'lato', sans-serif;
    font-size: inherit;
    letter-spacing: 1.5px;
    transition: .25s;
}

section#contact .contact-message input[type="submit"]:hover {
    background: white;
    color:#19797E;
    transition: .25s;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

.footer p {
    color: white;
    padding: .5rem 3rem;
}
